# Auto detect text files and perform LF normalization
* text=auto

Pdf files uploaded
Extracted
Embeedings are created
Preprocessing
Build semantic Index
Knowledge base created


User should be able to ask questions from the PDF
